.header {
    background-color: #ff0f00;
}

.header > img {
    display: block;
    margin: 0 auto;
}

.login-form img {
    width: 100%;
}

.login-form input {
    width: 100%;
}

footer {
    background-color: #45464f;
}